nav.navbar.navbar-default {
  margin-bottom: 0;
}

.nav-item{
  height: 25px;
  line-height: 7px;
  margin-right: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}
.nav-item:last-child{
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}